@import "tailwindcss";

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
  }
}

@theme {
  --font-sans: var(--font-inter);
}

body {
  background-color: white;
  color: #111827;
}
